* {
    box-sizing: border-box;
    border-radius: 5px;
}
:root {
    --darkPrimary: #12232e;
    --lightPrimary: #007cc7;
    --lightSecondary: #4da8da;
    --darkSecondary: #203647;
    --bright: #eefbfb;

}
body {
    background-color: var(--darkPrimary);
    color: var(--bright);
}
header {
    background-color: var(--lightPrimary);
}
nav {
    display: flex;
    /* border: solid 2px green; */
    position: relative;
    padding: 8px 0px;
    width: 100%;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}
nav h1 {
  
    /* border: 1px solid red; */
}
.right-align {
    display: flex;
    width: 400px;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    background-color: var(--lightSecondary);
}
.panel {
    display: flex;
    /* border: 1px solid blue; */
    margin-top: 10px;
    justify-content: space-between;
    background-color: var(--darkSecondary);
}
.my-projects {
    display: flex;
    /* border: 1px solid rgb(255, 153, 0); */
    margin-top: 10px;
    justify-content: space-between;
}
.contact-me {
    display: flex;
    /* border: 1px solid rgb(94, 255, 0); */
    margin-top: 10px;
    justify-content: space-between;
}
section {
    display: flex;
}
.detail-pane {
    display: flex;
    /* border: 1px solid rgb(151, 151, 7); */
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.overview-pane {
   display: flex;
    /* border: 1px solid black; */
    width: 15%;
    margin: 10px;
    align-items: flex-start;
    justify-content: center;
    height: 25%;
    background-color: var(--lightPrimary);
}
.nav-list {
    list-style-type: none;
}
.image {
    height: auto;
    width: 200px;
}
section.detail-pane div {
    /* border: 1px solid black; */
    align-items: stretch;
    margin: 10px;
    padding: 10px;
    
}
.semantic-tags {
    background: url(../images/screenshot.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: rgb(250, 250, 250);
    text-decoration: none;
    height: 150px;
   
}
.box-changer {
    background: url(../images/box-changer.PNG);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    color: black;
    text-decoration: none;
    height: 150px;
   
}
.portfolio {
    background: url(../images/portfolio.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: black;
    text-decoration: none;
    height: 150px;
   
}

div.semantic-tags h3 {
    background-color: rgba(255, 161, 21, 0.541);
}
div.semantic-tags p {
    background-color: rgba(255, 161, 21, 0.541);
}
div.box-changer h3 {
    background-color: rgba(255, 255, 255, 0.541);
}
div.box-changer p {
    background-color: rgba(255, 255, 255, 0.541);
}
div.portfolio h3 {
    background-color: rgba(255, 255, 255, 0.541);
}
div.portfolio p {
    background-color: rgba(255, 255, 255, 0.541);
}
div.detail-pane a {
    text-decoration: none;
}
#gallery img {
    margin: 5px;
}
div.detail-pane div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
    align-items: center;
    background-color: var(--lightPrimary);
    
}
h3 {
    background-color: var(--lightSecondary);
    padding: 5px;
}
@media screen and (max-width: 850px) {
    .panel{
        flex-direction: column;
        align-items: center;
    }
    .detail-pane{
        flex-direction: column;
    }
    .overview-pane {
        width: 50%;
    }
}
a:visited {
    text-decoration: none;
    color: var(--bright);
}